jboss.bind.address={{ hostname }}
jboss.bind.address.management={{ hostname }}
jboss.bind.address.private={{ hostname }}
jboss.bind.address.unsecure={{ hostname }}
jboss.http.port={{ jboss_std_http_port }}
jboss.host.name={{ hostname }}
jboss.tx.node.id={{ hostname }}
