jboss.bind.address={{ ansible_host }}
jboss.bind.address.management={{ ansible_host }}
jboss.bind.address.private={{ ansible_host }}
jboss.bind.address.unsecure={{ ansible_host }}
jboss.http.port={{ jboss_std_http_port }}
jboss.host.name={{ ansible_host }}
jboss.tx.node.id={{ ansible_host }}
