{{ jboss_home }}/{{ jboss_instance_name }}/bin/jboss-cli.sh<<EOF
embed-server --server-config=latest-{{jboss_conf}}
batch
#### INSERT BATCH HERE!
run-batch
EOF
if [ $? -eq 0 ] ; then
touch {{ jboss_home }}/{{ jboss_instance_name }}/standalone/`basename "$0".executed`
fi
